/* computers */
@media only screen and (min-width: 1024px) {}

/* mobiles */
@media only screen and (max-width: 1023px) {}

.footer {
    bottom: 0;
    width: 100%;
    position: relative;
    height: auto;
    background: #343A40;
}

.footer .col {
    margin-top: 1em;
    max-width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 10px 20px;
}

.footer .col h1 {
    color: white;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.125em;
}

.footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .col ul li {
    color: white;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.footer .col ul li a {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    text-decoration: none;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.footer .col h1 a {
    color: white;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    text-decoration: none;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.social ul li {
    display: block;
    padding-right: 5px !important;
}

footer .col ul li a:hover {
    color: skyblue;
    transform: scale(1.2);
}

.footer .col img {
    border-radius: 40px;
}

.clearfix {
    clear: both;
}

@media only screen and (min-width: 1200px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
    }

    .footer .col {
        width: 25%;
    }

    .footer .col h1 {
        font-size: 18px;
    }

    .footer .col ul li {
        font-size: 17px;
    }
}

@media only screen and (max-width: 1139px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
    }

    .footer .col {
        width: 25%;
    }

    .contain .social {
        width: 1000px;
        display: block;
    }

    .social h1 {
        margin: 0px;
    }
}

@media only screen and (max-width: 950px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
    }

    .footer .col {
        width: 50%;
    }

    .footer .col h1 {
        font-size: 17px;
    }

    .footer .col ul li {
        font-size: 16px;
        text-align: left;
    }
}

@media only screen and (max-width: 500px) {
    .footer .col {
        width: 50%;
        text-align: left;
    }

    .footer .col h1 {
        font-size: 16px;
    }

    .footer .col ul li {
        font-size: 15px;
        display: block;
    }
}

@media only screen and (max-width: 340px) {
    .footer .col {
        width: 100%;
    }
}