<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: head"/>
<body>
<header th:insert="fragments :: header"></header>
<main>
    <div>
        <h1 align="center">Admin Area</h1>
    </div>
    <div>
        <ul align="center" class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a aria-controls="cadastro" aria-selected="true" class="nav-link active" data-toggle="tab"
                   href="#cadastro"
                   id="cadastro-tab" role="tab">Tab1</a>
            </li>
            <li class="nav-item">
                <a aria-controls="activeUser" aria-selected="false" class="nav-link" data-toggle="tab"
                   href="#activeUser"
                   id="activeUser-tab" role="tab">Tab2</a>
            </li>
            <li class="nav-item">
                <a aria-controls="list" aria-selected="false" class="nav-link" data-toggle="tab" href="#list"
                   id="list-tab"
                   role="tab">Tab3</a>
            </li>
        </ul>
    </div>
    <div class="tab-content" id="myTabContent">
        <div aria-labelledby="cadastro-tab" class="tab-pane fade show active" id="cadastro" role="tabpanel">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div aria-labelledby="activeUser-tab" class="tab-pane fade" id="activeUser" role="tabpanel"></div>
        <div aria-labelledby="list-tab" class="tab-pane fade" id="list" role="tabpanel"></div>
    </div>
</main>
<footer th:insert="fragments :: footer"></footer>
<div th:include="fragments :: modals"></div>
</body>
</html>