<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: head"/>
<body>
<header th:insert="fragments :: header"></header>
<main>
    <div>
        <h1>Recuperar Senha</h1>
        <h2>Será enviado um link para cadastrar uma nova senha</h2>
    </div>
    <div>
        <form method="POST" th:action="@{/forgotPassword}">
            <div>
                <p>
                    <label for="email">Insira o email usado no cadastro</label>
                    <input id="email" name="email" placeholder="E-mail" required type="email">
                </p>
            </div>
            <button type="submit">Enviar Email</button>
            </h2>
            <br>
            <br>
        </form>
    </div>
</main>
<footer th:insert="fragments :: footer"></footer>
<div th:include="fragments :: modals"></div>
</body>
</html>