<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: head"/>
<body>
<header th:insert="fragments :: header"></header>
<main>
    <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 align="center" style="color:#343A40;">Welcome to the Template.</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="cookie-banner" th:if="${showDialog==true}">
        <p>
            We use cookies to provide a better experience for our users. To get more information about the use of
            cookies, see our <a href="/privacy">privacy policy</a>. By keeping
            browsing our site, you agree to our politics.</a>
        </p>
        <form method="POST" th:action="@{/ip}">
            <button class="btn btn-ligth" type="submit">Accept</button>
        </form>
    </div>
</main>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>