<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: head"/>
<body>
<header th:insert="fragments :: header"></header>
<main>
    <div>
        <h1>Recuperar Senha</h1>
        <h2>Insira uma nova senha para a sua conta</h2>
    </div>
    <div>
        <form method="POST" th:action="@{/newPassword}">
            <input name="verificationCode" th:value="${verificationCode}" type="hidden">
            <div>
                <p><label for="passwordId">Insira uma nova senha</label>
                    <input id="passwordId" name="password" placeholder="Insira uma nova senha"
                           type="password">
                </p>
            </div>
            <button type="submit">Cadastrar</button>
            </h2>
        </form>
        <br>
    </div>
</main>
<footer th:insert="fragments :: footer"></footer>
<div th:include="fragments :: modals"></div>
</body>
</html>