<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: head"/>
<body>
<header th:insert="fragments :: header"></header>
<main>
    <div th:object="${userEntity}">
        <h1>Conta Criada com Sucesso!</h1>
        <h2>Para validar o seu acesso é necessário verificar a sua conta</h2>
        <h2>Foi enviado um link de verificação para o e-mail: <span th:text="*{email}"></span></h2>
        <h3>O Processo pode demorar alguns minutos</h3>
    </div>
</main>
<footer th:insert="fragments :: footer"></footer>
</body>
</html>