<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: head"/>
<body>
<header th:insert="fragments :: header"></header>
<main>
    <div th:object="${userEntity}">
        <h1>Account Created Successfully!</h1>
        <br>
        <br>
        <h2>To validate your access you need to verify your account</h2>
        <br>
        <br>
        <h2>A verification link has been sent to the email: <span th:text="*{email}"></span></h2>
        <br>
        <br>
        <h3> The process may take a few minutes</h3>
        <br>
        <br>
    </div>
</main>
<footer th:insert="fragments :: footer"></footer>
</body>
</html>