<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: head"/>
<body>
<header th:insert="fragments :: header"></header>
<main>
    <div>
        <h1>Políticas de Privacidade</h1>
    </div>
    <div>
        <h2>Na [nome da empresa], privacidade e segurança são prioridades e nos comprometemos com a
            transparência do tratamento de dados pessoais dos nossos usuários/clientes. Por isso, esta presente
            Política
            de Privacidade estabelece como é feita a coleta, uso e transferência de informações de clientes ou
            outras
            pessoas que acessam ou usam nosso site.<br>
            Ao utilizar nossos serviços, você entende que coletaremos e usaremos suas informações pessoais nas
            formas
            descritas nesta Política, sob as normas da Constituição Federal de 1988 (art. 5º, LXXIX; e o art. 22º,
            XXX –
            incluídos pela EC 115/2022), das normas de Proteção de Dados (LGPD, Lei Federal 13.709/2018), das
            disposições consumeristas da Lei Federal 8078/1990 e as demais normas do ordenamento jurídico brasileiro
            aplicáveis.
        </h2>
        <h1>1. a quem essa política de privacidade se aplica?</h1>
        <h2>Todos os usuários.</h2>
        <h1>2. quais dados coletamos sobre você?</h1>
        <h2>Nome, Email, Telefone e senha criptografada para acesso.</h2>
        <h1>3. qual a finalidade?</h1>
        <h2>Esses dados são usados para comprovar a identidade do usuário e para oferecer um atendimento
            personalizado.</h2>
        <h1>4. o que fazemos para manter os dados seguros?</h1>
        <h2>Para mantermos suas informações pessoais seguras, usamos ferramentas físicas, eletrônicas e gerenciais
            orientadas para a proteção da sua privacidade.
            Aplicamos essas ferramentas levando em consideração a natureza dos dados pessoais coletados, o contexto
            e a
            finalidade do tratamento e os riscos que eventuais violações gerariam para os direitos e liberdades do
            titular dos dados coletados e tratados.
        </h2>
        <h1>5. responsabilidade</h1>
        <h2>Embora adotemos elevados padrões de segurança a fim de evitar
            incidentes,
            não há nenhuma página virtual inteiramente livre de riscos. Nesse sentido, a [nome da empresa]
            não se responsabiliza por: <br>
            I – Quaisquer consequências decorrentes da negligência, imprudência ou imperícia dos usuários em relação
            a
            seus dados individuais. Garantimos e nos responsabilizamos apenas pela segurança dos processos de
            tratamento
            de dados e do cumprimento das finalidades descritas no presente instrumento. <br>
            Destacamos que a responsabilidade em relação à confidencialidade dos dados de acesso é do usuário.
            <br>II – Ações maliciosas de terceiros, como ataques de hackers, exceto se comprovada conduta culposa ou
            deliberada da [nome da empresa].<br>
            Destacamos que em caso de incidentes de segurança que possam gerar risco ou dano relevante para você ou
            qualquer um de nossos usuários/clientes, comunicaremos aos afetados e a Autoridade Nacional de Proteção
            de
            Dados sobre o ocorrido e cumpriremos as providências necessárias. <br>
            III – Inveracidade das informações inseridas pelo usuário/cliente nos registros necessários para a
            utilização dos serviços da [nome da empresa]; quaisquer consequências decorrentes de
            informações falsas ou inseridas de má-fé são de inteiramente responsabilidade do usuário/cliente.
        </h2>
        <h1>6. cookies</h1>
        <h2>A [nome da empresa] faz uso de Cookies, que são arquivos de texto enviados pela plataforma ao
            seu computador e que nele se armazenam, que contém informações relacionadas à navegação do site. Em
            suma, os
            Cookies são utilizados para aprimorar a experiência de uso.
            Ao acessar nosso site e consentir com o uso de Cookies, você manifesta conhecer e aceitar a utilização
            de um
            sistema de coleta de dados de navegação com o uso de Cookies em seu dispositivo.
            A [nome da empresa] utiliza os seguintes Cookies: (descrição dos tipos de Cookies utilizados
            pelo site).
            Você pode, a qualquer tempo e sem nenhum custo, alterar as permissões, bloquear ou recusar os Cookies.
            Todavia, a revogação do consentimento de determinados Cookies pode inviabilizar o funcionamento correto
            de
            alguns recursos da plataforma.
        </h2>
        <br>
        <h2>A [nome da empresa] disponibiliza os seguintes meios para que você possa entrar em contato
            conosco para exercer seus direitos de titular.
            Caso tenha dúvidas sobre esta Política de Privacidade ou sobre os dados pessoais que tratamos, você pode
            entrar em contato com o nosso Encarregado de Proteção de Dados Pessoais, através dos seguintes canais:
            <br>[Instagram:]
            <br>[Whatsapp: ]
        </h2>
    </div>
</main>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>