<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: head"/>
<body>
<header th:insert="fragments :: header"></header>
<main>
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <p class="text-center">Get started with your free account</p>
            <form method="POST" th:action="@{/register}" th:object="${UserEntity}">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input class="form-control" id="name" placeholder="Your full name" required th:field="*{name}"
                           type="text">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input class="form-control" id="emailId" placeholder="Insert a valid e-mail" required
                           th:field="*{email}" type="email">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                    </div>
                    <input class="form-control" id="phoneId" pattern="^[0-9]*$" placeholder="Mobile (only numbers)"
                           required th:field="*{phone}" title="The phone must have only numbers." type="tel">
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" id="passwordId" placeholder="At least 8 characters."
                           required th:field="*{password}" title="" type="password">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button class="btn btn-dark btn-block" type="submit"> Create Account</button>
                </div> <!-- form-group// -->
                <p class="text-center">Have an account? <a href="/login">Log In</a></p>
            </form>
        </article>
    </div> <!-- card.// -->

</main>
<footer th:insert="fragments :: footer"></footer>
<div th:include="fragments :: modals"></div>
</body>
</html>