<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: head"/>
<body>
<header th:insert="fragments :: header"></header>
<main>
    <div>
        <br>
        <br>
        <h1>Account Successfully Verified!</h1>
        <br>
        <br>
        <h2>From now on you can log in to the site!</h2>
        <br>
        <br>
        <h2><a href="/login"> Click here and you will be redirected to the login screen</a></h2>
        <br>
        <br>
    </div>
    <footer th:insert="fragments :: footer"></footer>
</main>
</body>
</html>