<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: head"/>
<body>
<header th:insert="fragments :: header"></header>
<main>
    <div>
        <h1>Conta Verificada com Sucesso!</h1>
        <h2>A partir de agora você já pode efetuar o seu login no site!</h2>
        <h2><a href="/login">Clique aqui e será redirecionado para a tela de login</a></h2>
    </div>
    <footer th:insert="fragments :: footer"></footer>
</main>
</body>
</html>